#sidebar {
    width: 250px;
}

#sidebar li {
    list-style-type: none;
}

.collapse-link {
    margin-top: 10px;
    cursor: pointer;
}

.show-container {
    padding: 15px;
    margin-bottom: 10px;
}

.show-container h3 {
    margin-top: 0;
}

.show-info-container {
    margin-left: 115px;
}

.show-image-container {
    height: 100px;
    width: 100px;
    border: 1px #000000 solid;
    float: left;
}