body {
    padding-top: 35px;
}

#sidebar_toggle {
    margin-left: 10px;
    display: none;
}

#sidebar_toggle.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 2px;
}

.main-container {
    padding: 0;
    display: inline-flex;
}

.main {
    flex: 1;
    padding: 0 30px 50px 30px;
}

#sidebar_container {
    height: calc(100% - 35px);
    flex-shrink: 0;
    background: white;
    padding: 15px;
}

#sidebar, #sidebar_container {
    width: 250px;
}

#sidebar li {
    list-style-type: none;
}

.collapse-link {
    margin-top: 10px;
    cursor: pointer;
}

.collapse-link::before {
    content: 'Show '
}

.collapse-link[aria-expanded="true"]::before {
    content: 'Hide '
}

.show-container {
    padding: 15px;
    margin-bottom: 10px;
}

.show-container h3 {
    margin-top: 0;
}

.show-info-container {
    margin-left: 115px;
}

.show-image-container {
    height: 100px;
    width: 100px;
    border: 1px #000000 solid;
    float: left;
}

@media (max-width: 767px) {
    #sidebar_container {
        position: fixed;
        z-index: 1000;
        -webkit-transition: left 0.5s;
        transition: left 0.5s;
        left: -250px;
    }

    #sidebar_toggle {
        float: left;
        display: block;
    }
}